.centerblock {
  display: table;
  margin: auto;
}

.topmargin {
  margin-top: 50px;
}

.homebackground {
  background-image: url('background.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
}

a1 {
  font-size: 25px;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.btn-lg.round {
	border-radius: 24px;
}

body.home {
  background-color: #E6ECF0;
}

.navigation-top {
  background-color: #47BDC1;
