.centerblock {
  display: table;
  margin: auto;
}

.topmargin {
  margin-top: 100px;
}

.welcometext {
  font-size: 10px;
}

a1 {
  font-size: 20px;
  color: white;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: bold;
}

.btn-lg.round {
	border-radius: 24px;
}

body.home {
  background-color: #E6ECF0;
}

.navigation-top {
  background-color: #47BDC1;
}

// simple form style
// starts here

.simple_form div.input {
  margin-top: 10px;
  margin-bottom: 10px;

}

.field_with_errors {
  background-color: #ff3333;
}

.simple_form .error {
  color: white;
  display: block;
}

.simple_form input[type='submit'] {
  float: right;
  background-color: #1DA1F2;
  color: white;
}

// simple form style
// ends here

.messagedelete {
float: right;
}

.messagetime {
font-size: 10px;
color: #657786;
}

.username-style {
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: -1.5px;
}

.img {
  width: 85%;
  border: 5px solid white;
  border-radius: 50%;
}

.thumbnail {
  width: 10%;
  border-radius: 50%;
  float: left;
  margin-right: 1%;
}

.followersicon {
  width: 25%;
  border-radius: 50%;
  float: left;

}

.info {
  float: left;
  font-size: 15px;
  position: relative;
  margin-top: -2%
}

.datetime {
  font-size: 10px;
}

.othertable {
  width: 500px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  text-align: center;
  color: gray;
  a {
    display: inline-block;
    padding: 0 2px;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.navbg {
background-color: white
}

.navlink {
  font-size:13px;
  color: #1B98E6;
  float: right;

}
//////// Carousel

.carousel {
    position:absolute;
    width: 100%;
    overflow: hidden;
    height: 100%;
}
.navbar {
    position:absolute;

    z-index:10;
    background:#fff;
    width:100%;
}

.carousel-caption {
  top: 45%;
  left: 20%;
  font-size: 12px;
  text-align: left;
}

///////

#popup {
    height: 50px;
    width: 200px;
    text-align: center;
    vertical-align:middle;
    background-color: cornflowerblue;
    color: white;
    display: none;
    padding-top: 8px;


    position: absolute;
}
